<footer>
    <div class="footer-informations">
        <div class="logo-block">
            <img class="logo" src="./assets/fonts/logo.png">
            <p class="slogan">Choose your <span>movie!</span></p>
        </div>
        <div class="producer-brands">
            <a href="https://www.exxen.com/tr" target="_blank"> <img class="exxen-logo" src="https://hwp.com.tr/wp-content/uploads/2020/12/exxen.png"></a>
            <a href="https://www.netflix.com/browse" target="_blank"><img class="netflix-logo" src="https://logos-world.net/wp-content/uploads/2020/04/Netflix-Logo.png"></a>
            <a href="https://www.primevideo.com/" target="_blank"><img class="prime-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/800px-Amazon_Prime_Video_logo.svg.png"></a>
        </div>
        <div class="contact-form">
            <p class="social-header">Sosyal Medyalarmız</p>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </div>
            <form class="footer-form">
                <button type="button" class="disabled"><i class="far fa-envelope"></i></button>
                <input type="text" placeholder="Bize Ulaşın...">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
    <p class="copy-right">Copyright 2021 - Brothers™ </p>
</footer>
