* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #414141;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* HEADER */

header .top-header {
    padding: 0.7rem;
}

header .header-container {
    border-top: 3px solid rgb(206, 206, 206);
}


/* NAVBAR */

#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar .main-header,.main-header a{
    font-family: 'Hachi Maru Pop', cursive;
    color: white;
    text-align: center;
    width: 500px;
    padding: 0.3rem;
    margin: 1rem 2rem 1rem 0;
    text-decoration: none;
    
}

#navbar .nav {
    align-self: center;
}

#navbar .nav ul {
    display: flex;
    margin-right: 2rem;
}

#navbar .nav ul li {
    list-style: none;
    margin-right: 2.3rem;
}

#navbar .nav ul li a {
    text-decoration: none;
    color: white;
}


/* SEARCH */

header form {
    display: flex;
}

header .search-bar {
    align-items: center;
    display: flex;
    justify-content: center;
}

header .search-input,
.search-btn:focus {
    outline: none;
}

header .search-input {
    width: 300px;
    background-color: #414141a1;
    color: rgba(255, 255, 255, 0.712);
    font-weight: 700;
    border: none;
    padding: .6rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

header .search-btn {
    border: none;
    background-color: #414141a1;
    color: rgba(255, 255, 255, 0.651);
    padding: .6rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


/* HR */

.hr-edit {
    position: relative;
    top: 40px;
}

.hr-text-left {
    position: absolute;
    top: 118px;
    left: 50px;
    padding: 1rem;
    background-color: #414141;
}

.hr-text-right {
    position: absolute;
    top: 118px;
    right: 50px;
    padding: 1rem;
    background-color: #414141;
}

#home1 {
    display: flex;margin-bottom: auto;
}

#left-content {
    width: 100%;
    margin-top: 4rem;
    border-right: 2px solid rgba(206, 206, 206, 0.637);
}

#right-content {
    width: 100%;
    margin-top: 4rem;
}

#left-content .head-part {
    display: flex;
    justify-content: space-between;
}

#left-content .head-part .main-head {
    margin: 0 1.5rem 0.5rem 2rem;
    padding: 0.3rem;
    display: flex;
}

#left-content .head-part .movie-age-group {
    margin: 0.25rem 0 0 0.6rem;
    padding: 0.9rem;
    font-size: 0.8rem;
    color: white;
    background-color: #FE4141;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-content .head-part .imdb {
    margin: 0 2rem 0.5rem 1.5rem;
    padding: 0.3rem;
    align-self: center;
}

#left-content .head-part .imdb span {
    color: #E4BB24;
}

#left-content .head-part .imdb .fa-star {
    color: #E4BB24;
}


/* TRAILER Part */

#left-content .movie-video {
    display: flex;
    justify-content: center;
}

#left-content .movie-video iframe {
    border-radius: 25px;
    width: 900px;
    height: 500px;
}


/* DESC and BUTTON Part */

#left-content .desc-part {
    display: flex;
    justify-content: space-between;
}

#left-content .desc {
    margin: 0.7rem 1.5rem 1.5rem 2rem;
    padding: 0.3rem;
    width: 75%;
    font-size: 1.2rem;
}

#left-content .playnow-bttn {
    display: flex;
}

#left-content .playnow-bttn a {
    display: block;
    margin: 1.5rem 2.5rem 1.5rem 0;
    padding: 1rem;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    background-color: #FE4141;
    align-self: center;
}


/* INFO Part */

#left-content .info-part {
    display: flex;
    letter-spacing: 1px;
}

#left-content .info-part .director,
.stars,
.types,
.movie-time {
    justify-content: space-evenly;
    width: 20%;
    margin-left: 3.5rem;
}

#left-content .info-part h4 {
    margin-bottom: 0.5rem;
    color: #FE4141;
}





